﻿@model ReservationResort.Data.EF.Customer

@{
    ViewBag.Title = Model.FullName;
}



<div class="container topSpacer">
    <h2>@ViewBag.Title</h2>
    <div id="customerContainer" style="width: 80%;">
        <div id="cutomer">
            @Model.FullName
           </div>
        <div>         
                <img src="~/Content/Images/@Model.PhotoURL" alt="@Model.FullName" style="width:30%; height:auto; border-radius: 5px;" />
        </div><br /><br />

        <div class="row">
     
            <div class="col-md-6">
                <p>
                    @Html.DisplayNameFor(model => model.Email):
                    @Html.DisplayFor(model => model.Email)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.Phone):
                    @Html.DisplayFor(model => model.Phone)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.SpecialNotes)
                    @Html.DisplayFor(model => model.SpecialNotes)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.IsActive)
                    @Html.DisplayFor(model => model.IsActive)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.DateAdded): 
                    @Html.DisplayFor(model => model.DateAdded)
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="cutomerFooterLeft">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        </div>
          <div id="cutomerFooterRight">
              @Html.ActionLink("Back", "Index")
          </div>
        
    </div>


</div>

