﻿@model ReservationResort.Data.EF.Customer

@{
    ViewBag.Title = "Edit " + Model.FullName;
}

<div class="container topSpacer">

    <h2>@ViewBag.Title</h2>

    @if (Session["SizeError"] != null)
    {
        <h3 class="text-danger">@Session["SizeError"].ToString()</h3>
    }

    @using (Html.BeginForm("Edit", "Customers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.AntiForgeryToken()
     if (User.IsInRole("Admin") || User.IsInRole("customer"))
     {
            <div id="customerContainer" style="width: 80%;">
                <div id="customer" style="margin-bottom: .5em;">

                    <p>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @style = "width: 48%;display:inline" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @style = "width: 48%;display:inline" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </p>

                </div>
                <div class="col-md-6" style="padding: 20px;">
                    <p>
                        <strong>Existing Photo:</strong><br />
                        <img src="~/Content/Images/noImage.png" alt="no image" style="width:50%; height:auto" />
                    </p>
                    <br /><br />
                    <strong>New Photo: </strong><input type="file" name="customerPhoto" />
                </div><br /><br />
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-6">
                     
                            <p>
                                @Html.LabelFor(model => model.SpecialNotes, new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.SpecialNotes, new { @class = "form-control", @placeholder = "Special Notes" })
                                @Html.ValidationMessageFor(model => model.SpecialNotes, "", new { @class = "text-danger" })
                            </p>
                       

                        <p>
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger", @placeholder = "Active" })
                        </p>
                        <p>
                            @Html.LabelFor(model => model.DateAdded, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.DateAdded, new { @class = "form-control", @id = "datepicker" })
                            @Html.ValidationMessageFor(model => model.DateAdded, "", new { @class = "text-danger" })
                        </p>
                        <p>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </p>

                        <p>
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                        </p>
                       
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="cutomerFooterLeft">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
                <div id="cutomerFooterRight">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info" })
                </div>


            </div>
        }
        if (User.IsInRole("employee"))
        {
        <div id="customerContainer" style="width: 80%;">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        @Html.LabelFor(model => model.SpecialNotes, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.SpecialNotes, new { @class = "form-control", @placeholder = "Special Notes" })
                        @Html.ValidationMessageFor(model => model.SpecialNotes, "", new { @class = "text-danger" })
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="cutomerFooterLeft">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div id="cutomerFooterRight">
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info" })
            </div>

        </div>
        }
    }
        </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
