﻿@model IEnumerable<ReservationResort.Data.EF.Customer>

@{
    ViewBag.Title = "Customers";
}

<div class="container topSpacer">
    <div class="row">
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>
        </div>
        <!--Comment out because I don't want Admin to create a new customer-->
        @*<div class="col-md-6 text-right">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>*@
    </div>

    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                        
                <th class="noSort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
 
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    
                   
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-dark" })
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-dark" })


                        @if (User.IsInRole("Admin"))
                        {
                            using (Html.BeginForm("Delete", "Customers", new { @id = item.ID }, FormMethod.Post, new { style = "display:inline-block" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Delete" class="btn btn-dark" onclick="return confirm('Are you sure you want to delete this customer?')" />

                            }
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-dark" })*@
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "columnDefs": [
                    { targets: "noSort", orderable: false }
                ]
            });
        });
    </script>

}