﻿@model ReservationResort.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Confirmation";
}

<div class="row">
    <div class="col-sm-offset-3 col-md-4">
        <h2 class="title text-center">Contact Confirmation</h2>
        <h3 class="title text-center">
            Thank you for Contacting Us!<br />
            We will get back to you as soon as possible
        </h3>
    </div>
</div>

