﻿@{
    ViewBag.Title = "Home Page";
}

<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
                <h2>Creek's<br>Quest <span>Resorts Bookings</span></h2>
                <div>
                    <a href="@Url.Action("Index", "Reservations")" class="btn btn-get-started scrollto">Get Started</a>
                </div>
            </div>

            <div class="col-md-6 intro-img order-md-last order-first">
                <img src="img/intro-img.svg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</section><!-- #intro -->

