﻿@model IdentitySample.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="container topSpacer">



    @if (Session["SizeError"] != null)
    {
        <h3 class="text-danger">@Session["SizeError"].ToString()</h3>
    }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.IsActive)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="customerContainer" style="width: 100%;">
            <div id="cutomer" style="margin-bottom: .5em;">
                <h2>@ViewBag.Title</h2>
            </div>

            <div class="col-md-6" style="padding: 20px;">
                <p>
                    <strong>Existing Photo:</strong><br />
                    <img src="~/Content/Images/noImage.png" alt="no image" style="width: 40%;"/>
                </p>
                <br /><br />
                <strong>New Photo: </strong><input type="file" name="customerPhoto" />
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-6">

                    <p>
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.SpecialNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.SpecialNotes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpecialNotes, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.DateAdded,new { @class = "form-control", @id = "datepicker" })
                        @Html.ValidationMessageFor(model => model.DateAdded, "", new { @class = "text-danger" })
                    </p>

                </div>
            </div>
        <div class="clearfix"></div>
            <div id="cutomerFooterLeft">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
            <div id="cutomerFooterRight">
                @Html.ActionLink("Cancel", "Index")
            </div>
                    
                
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
