﻿@model ReservationResort.Data.EF.ResortLocation

@{
    ViewBag.Title = "Resort Details";
}



<div class="container topSpacer">
    
    <div id="customerContainer" style="width: 60%;">
        <div id="cutomer">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="row">
            <div class="col-md-10">

                <p>
                    @Html.DisplayNameFor(model => model.ResortName):

                    @Html.DisplayFor(model => model.ResortName)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.Address):

                    @Html.DisplayFor(model => model.Address)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.City):

                    @Html.DisplayFor(model => model.City)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.State):

                    @Html.DisplayFor(model => model.State)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.ZipCode):

                    @Html.DisplayFor(model => model.ZipCode)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.ReservationLimit):

                    @Html.DisplayFor(model => model.ReservationLimit)
                </p>
        </div>
    </div>
        <div class="clearfix"></div>
        <div id="cutomerFooterLeft">
            @Html.ActionLink("Edit Resort Location", "Edit", new { id = Model.ResortLocationID }, new { @class = "btn btn-dark" }) 
        </div>
        <div id="cutomerFooterRight">
            @Html.ActionLink("Back to Resort Location", "Index", new { @class= "btn btn-dark"})
        </div>
</div>

</div>