﻿@model ReservationResort.Data.EF.ResortLocation

@{
    ViewBag.Title = "Edit Resort Location";
}

<div class="container topSpacer">

   


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ResortLocationID)

        <div id="customerContainer" style="width: 80%;">

            <div id="cutomer">
                <h2>@ViewBag.Title</h2>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <p>
                        @Html.LabelFor(model => model.ResortName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.ResortName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ResortName, "", new { @class = "text-danger" })
                    </p>


                    <p>
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </p>


                    <p>
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        @Html.LabelFor(model => model.ReservationLimit, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.ReservationLimit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReservationLimit, "", new { @class = "text-danger" })
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="cutomerFooterLeft">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
           <div id="cutomerFooterRight">
               @Html.ActionLink("Back to Resort Location", "Index")
           </div>
          
        </div>
    }
   
   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
