﻿@model IEnumerable<ReservationResort.Data.EF.ResortLocation>

@{
    ViewBag.Title = "Resort Locations";
}

<div class="container topSpacer">
    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-6 text-right">
            <p>
                @Html.ActionLink("Create Resort Location", "Create")
            </p>
        </div>
    }
    

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ResortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationLimit)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationLimit)
                    </td>
                    <td>

                        @if (User.IsInRole("customer") || User.IsInRole("Admin") || User.IsInRole("employee"))
                        {
                            @Html.ActionLink("Book", "customerReservation", "Reservations", new { id = item.ResortLocationID },
                                new { @onclick = "return confirm('Are you sure you want to Reserved " + item.ResortName + "?')", @class = "btn btn-dark" })
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("employee"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ResortLocationID }, new { @class = "btn btn-dark" }) @:|
                            @Html.ActionLink("Details", "Details", new { id = item.ResortLocationID }, new { @class = "btn btn-dark" })
                        }

                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ResortLocationID }, new { @class = "btn btn-dark" })*@
                        @if (User.IsInRole("Admin"))
                        {
                            using (Html.BeginForm("Delete", "Customers", new { @id = item.ResortLocationID }, FormMethod.Post, new { style = "display:inline-block" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Delete" class="btn btn-dark" onclick="return confirm('Are you sure you want to delete this Resort Location?')" />

                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "columnDefs": [
                    { targets: "noSort", orderable: false }
                ]
            });
        });
    </script>

}