﻿@model ReservationResort.Data.EF.Reservation

@{
    ViewBag.Title = "Book Reservation";
}

<div class="container topSpacer">

    <h2>@ViewBag.Title</h2>

    @if (ViewBag.LocationFullError != null)
    {
        <p>@ViewBag.LocationFullError</p>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*@Html.HiddenFor(x => x.ResortLocationID)*@
        @Html.HiddenFor(x => x.CustomerID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="customerContainer" style="width: 80%;">

            <div class="row">
                <div class="col-md-6">
                    <p>
                        @Html.LabelFor(model => model.ResortLocationID, "Resort Location", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("ResortLocationID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ResortLocationID, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(model => model.ReservationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.ReservationDate,new { @class = "form-control", @id= "datepicker" })
                        @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="cutomerFooterLeft">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
            <div id="cutomerFooterRight">
                @Html.ActionLink("Back to Reservation", "Index")
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                    </div>
                </div>*@
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
