﻿@model ReservationResort.Data.EF.Reservation

@{
    ViewBag.Title = "Reservation Details";
}

<div class="container topSpacer">
    <h2>@ViewBag.Title</h2>
    <div id="customerContainer" style="width: 50%;">
        <div class="row">
            <div class="col-md-7">

                <p>
                    @Html.DisplayNameFor(model => model.ReservationDate):
                    @Html.DisplayFor(model => model.ReservationDate)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.Customer.FullName):
                    @Html.DisplayFor(model => model.Customer.FullName)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.ResortLocation.ResortName):
                    @Html.DisplayFor(model => model.ResortLocation.ResortName)
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="cutomerFooterLeft">
            @Html.ActionLink("Edit Reservation", "Edit", new { id = Model.ReservationID }, new { @class= "btn btn-dark"})
        </div>
        <div id="cutomerFooterRight">
            @Html.ActionLink("Back to Reservations", "Index", new { @class = "btn btn-dark" })
        </div>
      
    </div>
</div>