﻿@model ReservationResort.Data.EF.Reservation

@{
    ViewBag.Title = "Edit Reservations";
}

<div class="container topSpacer"></div>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerID)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ReservationID)

    <div id="customerContainer" style="width: 80%;">
        <div id="cutomer" style="margin-bottom: .5em;">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    @Html.LabelFor(model => model.ResortLocationID, "ResortLocationID", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("ResortLocationID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ResortLocationID, "", new { @class = "text-danger" })
                </p>
                <p class="col-md-5">
                    @Html.LabelFor(model => model.ReservationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextBoxFor(model => model.ReservationDate, new { @class = "form-control", @id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="cutomerFooterLeft">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
        <div id="cutomerFooterRight">
            @Html.ActionLink("Back to Reservations", "Index")
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                </div>
            </div>*@
    </div>
}
   




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
