﻿@model IEnumerable<ReservationResort.Data.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}


<div class="container topSpacer">

    <div class="row">
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>
        </div>
       
        <div class="col-md-6 text-right">
            <p>
                @Html.ActionLink("Create Reservation", "Create")
            </p>
        </div>

    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResortLocation.ResortName)
                </th>
                <th class="noSort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResortLocation.ResortName)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }, new { @class= "btn btn-dark"}) 
                        @Html.ActionLink("Details", "Details", new { id = item.ReservationID }, new { @class = "btn btn-dark" }) 
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ReservationID }, new { @class = "btn btn-dark" })*@
                        @using (Html.BeginForm("Delete", "Customers", new { @id = item.ReservationID }, FormMethod.Post, new { style = "display:inline-block" }))
                        {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-dark" onclick="return confirm('Are you sure you want to delete this Reservation?')" />

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "columnDefs": [
                    { targets: "noSort", orderable: false }
                ]
            });
        });
    </script>

}