﻿@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Chewy|Special+Elite');

/*
font-family: 'Special Elite', cursive;
font-family: 'Chewy', cursive;
font-family: 'Black Ops One', cursive;
*/

form.contactForm {
    margin-top: 25vh;
}
main#main {
    margin-top: 25vh;
}

/*Every Text area should NOT be resizable*/
textarea {
    resize: none;
    min-height: 10em;
}

.topSpacer {
    margin-top: 4.5em;
}

    .topSpacer h2 {
        text-align:center;
        color:black;
        font-family: 'Black Ops One', cursive;
    }

#customerContainer {
    width: 30%;
    margin: auto;
    border: 2px solid black;
    padding: 1em;
    border-radius: 1em;
    background-color: black;
    color: white;
    font-weight: bold;


    
}

 #customerContainer a {
        color: white;
    }
        #customerContainer a:hover {
            text-decoration:underline;
            font-weight:700;
        }

        #cutomer {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
}

#cutomerLeft {
    float: left;
    width: 49%;
    text-align: right;
}

#cutomerRight {
    margin-left: 50%;
}

#cutomerLeft p {
    font-weight: 700;
}

/*Create and Edit even out p tags with inputs.*/
.inputPromptText {
    line-height:2em;
}
#cutomerFooterLeft {
    float: left;
    width: 49%;
}

#cutomerFooterRight {
    margin-left: 50%;
    text-align: right;
}

.btn:hover {
    color: skyblue;
}

@media (min-width: 1024px){
    #DataTables_Table_0 {
        width: 100%;
      
    }
}
@media (min-width: 600px) {
   table#DataTables_Table_0.table.dataTable.no-footer {
        width: 100%;
        font-size: 1em;
    }
}

@media (min-width: 320px){
    #header .logo h1 a{
        font-size: .7em;
    }
}